.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    width: 20px !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: 30px !important;
}

.error {
    border: 1px solid red;
    background-color: rgba(255,0,0,0.1);
}

.valid {
    border: 1px solid green;
    background-color: rgba(0,255,0,0.1);
}

.center_text {
    text-align: center;
}

#create_summit .form-group {
    margin-right: 35px;
}